@import '../../../mixin.scss';

.project {
    // padding: 0 clamp(20px, 10%, 100px);
    padding: 0 20px;
    @include flex-justy-align($jc:space-between);
    @include content-limitation();
    gap: 90px;
    margin-bottom: 100px;

    img {
        width: clamp(300px, 40%, 500px);
    }


}

.project_description {
    flex-direction: column;
    @include flex-justy-align ($ai: flex-start);
    gap: 16px;

    h3 {
        @include font-declaration ($fc: #FF4747);
        font-size: 32px;
        font-weight: 700;
        color: #FF4747;
    }

    h4 {
        @include font-declaration ($fs: 23px, $fw: 400, $fc: #FA7902);
    }
}

.project_btn {
    max-width: 375px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.test_btn {
    @include font-declaration ($fs: 23px, $fw: 400);
    @include btn-decoration ();
    transition: background-color 100ms ease-in-out;

    &:hover {
        background-color: #FA7902;
    }
}

.git_btn {
    @include font-declaration ($fs: 23px, $fw: 400);
    @include btn-decoration ($b: 1px solid #FA7902, $bc: unset);
    transition: background-color 100ms ease-in-out;

    &:hover {
        background-color: #FA7902;
    }
}

.row_reverse {
    flex-direction: row-reverse;
}

.ai_end {
    align-items: flex-end;
}

.projects_shadow_red {
    position: relative;
    // width: 100%;

    img {
        position: absolute;
        z-index: -1;
        bottom: -350px;
        width: 600px;
    }
}

@media (max-width: 1010px) {
    .project {
        padding: 0;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .project_description {
        align-items: center;
        span {
            padding: 0 20px;
        }
    }

    .project_btn {
        width: 90%;
        // padding: 0 20px;
    }

    .projects_shadow_red {

        img {
            bottom: -215px;
            left: -225px;
            width: 450px;
        }
    }
}

@media (max-width: 600px) {
    .projects_shadow_red {

        img {
            bottom: -215px;
            left: -180px;
            width: 360px;
        }
    }
}

@media (max-width: 400px) {
    .test_btn {
        font-size: 14px;
    }

    .git_btn {
        font-size: 14px;
    }

    .projects_shadow_red {

        img {
            bottom: -185px;
            left: -150px;
            width: 300px;
        }
    }
}
